# ===============================
# Runtime outputs (DO NOT COMMIT)
# ===============================
artifacts/
logs/

# ===============================
# Data files
# ===============================
*.csv
*.zip
*.h5
*.pkl

# ===============================
# Python cache & build
# ===============================
__pycache__/
*.pyc
*.egg-info/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
